<div class="page-header">
    <h1>Modules <small>All Modules available to CORIA</small></h1>
</div>
<div class="row spacer" ng-if="$ctrl.errorOccured">
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-danger" role="alert"><strong>There seems to be something wrong on the server:</strong><br/>{{$ctrl.errorOccured}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-warning" role="alert">If one ore more of your expected modules is not listed here, there must be some kind of problem with either the configuration or the implementation of the required interface.<br/>Plese check the documentation to understand what needs to be done in order for CORIA to be able to recognize a class as a module!</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Storage Adapters</h3>
        <span>This list shows all configured storage adapters which were successfully loaded by CORIA</span>
        <table st-table="$ctrl.displayedStorageModules" st-safe-src="$ctrl.storageModules" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="description">Description</th>
                    <th st-sort="status">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sm in $ctrl.displayedStorageModules">
                    <td>{{sm.name}}</td>
                    <td>{{sm.description}}</td>
                    <td>
                        <span ng-if="sm.storageStatus.readyToUse" class="glyphicon glyphicon-ok" aria-hidden="true" title="This adapter is configured correctly and is ready to use"></span>
                        <span ng-if="!sm.storageStatus.readyToUse" class="glyphicon glyphicon-remove" aria-hidden="true" title="There seems to be some problem with this adapter: {{sm.storageStatus.message}}"></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Import Adapters</h3>
        <span>This list shows all configured import adapters which were successfully loaded by CORIA</span>
        <table st-table="$ctrl.displayedImportModules" st-safe-src="$ctrl.importModules" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="description">Description</th>
                    <th st-sort="type">Type</th>
                    <th st-sort="format">Format</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="im in $ctrl.displayedImportModules">
                    <td>{{im.name}}</td>
                    <td ng-bind-html="im.description"></td>
                    <td>{{im.importType}}</td>
                    <td>{{im.expectedFormat}}</td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Export Adapters</h3>
        <span>This list shows all configured export adapters which were successfully loaded by CORIA</span>
        <table st-table="$ctrl.displayedExportModules" st-safe-src="$ctrl.exportModules" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="name">Name</th>
                    <th st-sort="description">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="em in $ctrl.displayedExportModules">
                    <td width="20%">{{em.name}}</td>
                    <td ng-bind-html="em.description"></td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Metric Adapters</h3>
        <span>This list shows all configured metric adapters which were successfully loaded by CORIA</span>
        <table st-table="$ctrl.displayedMetricModules" st-safe-src="$ctrl.metricModules" class="table table-striped">
            <thead>
            <tr>
                <th st-sort="name">Name</th>
                <th st-sort="description">Description</th>
                <th st-sort="provider">Provider</th>
                <th st-sort="technology">Technology</th>
                <th st-sort="shortcut">Shortcut</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mm in $ctrl.displayedMetricModules">
                <td width="20%">{{mm.name}}</td>
                <td ng-bind-html="mm.description"></td>
                <td>{{mm.provider}}</td>
                <td>{{mm.technology}}</td>
                <td>{{mm.shortcut}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>