<div class="page-header">
    <h1>CORIA 3.0</h1>
</div>
<p class="lead">CORIA is a software framework for an easy analysis of connectivity risks based on large network graphs. It provides researchers, risk analysts, network managers and security consultants with a tool to assess an organization’s connectivity and paths options through the Internet backbone, including a user-friendly and insightful visual representation of results.</p>
<p>Academic paper: CORIA – Analyzing Internet Connectivity Risks Using Network Graphs. Available from: <a href="https://www.researchgate.net/publication/313083776_CORIA_-_Analyzing_Internet_Connectivity_Risks_Using_Network_Graphs">Researchgate</a></p>